.loginHeader {
    align-items: 'center';
}
.customFormItem {
    display: flex;
    align-items: center;
    border: 1px solid blue;
    width: 100%;
  }
  
  .customCheckbox {
    border: 1px solid blue;
    width: 100%;
  }